body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background: #add8e6;
  font-family: helvetica, Arial, sans-serif;
  line-height: 1.5;
}
.logo {
  text-align: center;
  margin-top: 2rem;
}
.container {
  display: flex;
  justify-content: center;
}
.card {
  background: #fff;
  max-width: 100%;
  padding: 3rem;
  margin-top: 1.5rem;
  border-bottom-right-radius: 20px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  box-sizing: border-box;
}
.header-h1 {
  font-size: 1.4rem;
  font-weight: bold;
  color: #083e9e;
  margin-bottom: 0rem;
  text-align: center;
  font-family: sans-serif;
}
.lead {
  color: #4a5568;
  font-size: 0.95rem;
  margin-top: 0rem;
}

.form-flex {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.form-label {
  font-size: 0.75rem;
  line-height: 2;
  font-weight: bold;
  color: #4a5568;
  margin-bottom: 0.2rem;
}
.form-input {
  padding: 1rem 0rem;
  color: #a0aec0;
  background-color: #edf2f7;
  border: none;
  border-radius: 5px;
}
.select {
  padding: 1rem 0rem;
  background-color: #edf2f7;
  border: none;
  border-radius: 5px;
}

.btn {
  width: 100%;
  background-color: rgb(8, 62, 158);
  text-transform: uppercase;
  color: #fff;
  padding: 1rem 0rem;
  border: transparent;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.btn:hover {
  background-color: rgb(6, 43, 111);
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem 0rem;
  font-size: 14px;
}
.footer a {
  text-decoration: none;
  color: #fff;
}
.footer a:hover {
  color: rgb(179, 179, 179);
}
